<nav class="sidebar hidden md:block bg-black">
  <div class="flex flex-shrink-0 items-center ps-4 pt-8">
    <img class="h-6 w-auto me-2 rounded" src="/images/hook-white.png" alt="makely hook icon">
    <img class="h-5 w-auto mt-0.5" src="/images/logo.png" alt="makely logo">
  </div>
  <div class="nav-links">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="#" class="text-white hover:bg-gray-400 block rounded-md px-3 py-2 text-base font-medium">Home</a>
      <a href="#"
        class="text-gray-100 hover:bg-gray-400 hover:text-white block rounded-md px-3 py-2 text-base font-medium">My
        Store</a>
      <a href="#"
        class="text-gray-100 hover:bg-gray-400 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Income</a>
      <a href="#"
        class="text-gray-100 hover:bg-gray-400 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Customers</a>
    </div>
  </div>
</nav>

<!-- Mobile nav, show/hide based on menu state. -->
<nav class="mobile-nav flex justify-around md:hidden bg-black">
  <div class="flex flex-shrink-0 py-5">
    <div class="flex space-x-5">
      <a href="#" class="text-white hover:bg-gray-400 block rounded-md px-3 py-2 text-base font-medium">Home</a>
      <a href="#"
        class="text-gray-100 hover:bg-gray-400 hover:text-white block rounded-md px-3 py-2 text-base font-medium">My
        Store</a>
      <a href="#"
        class="text-gray-100 hover:bg-gray-400 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Income</a>
      <a href="#"
        class="text-gray-100 hover:bg-gray-400 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Customers</a>
    </div>
  </div>
</nav>
