<%- include("partials/head.ejs") %>

<body>
  <nav class="bg-black flex items-center justify-between pe-4">
    <div class="flex flex-shrink-0 items-center ps-4">
      <img class="h-6 w-auto me-2 rounded" src="/images/hook-white.png" alt="makely hook icon">
      <img class="h-5 w-auto mt-0.5" src="/images/logo.png" alt="makely logo">
    </div>
    <div class="nav-links flex items-center p-5">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <% if (store.length === 1) { %>
          <a href="/store" class="text-white bg-blue-500 shadow hover:drop-shadow-[0px_5px_10px_rgba(200,200,200,0.5)] inline-block rounded-md px-3 py-1 text-base font-medium">My Store</a>
          <% } else { %>
            <a href="/store/new" class="text-white bg-blue-500 shadow hover:drop-shadow-[0px_5px_10px_rgba(200,200,200,0.5)] inline-block rounded-md px-3 py-1 text-base font-medium">Get Started</a>
          <% } %>
      </div>
    </div>
    </div>
  </nav>
  <header class="home-header flex flex-col justify-end items-center h-[700px]">
    <a href="/store/new"><button class="text-black border border-zinc-300 bg-transparent hover:bg-green-400 hover:text-green-900 hover:transition inline-block rounded-full px-8 py-1 font-normal text-sm">Get your brand started</button></a>
    <h1 class="text-8xl font-extrabold pt-3">makely</h1>
    <h2 class="text-xl font-bold pt-4">a tool for everyone to</h2>
    <p class="text-zinc-500 font-medium pt-1 pb-6">grow an online business and optimize their income</p>
    <img class="w-[800px]" src="images/pathway-img.svg" alt="A roadlike graphic leading to the makely logo">
  </header>
</body>
</html>
