<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>makely - everyone can grow a business online</title>
</head>
<body>
  <h1>makely</h1>
</body>
</html>
