<%- include("partials/head.ejs") %>

<body>
  <nav class="bg-black flex items-center justify-between pe-4">
    <div class="flex flex-shrink-0 items-center ps-4">
      <img class="h-6 w-auto me-2 rounded" src="/images/hook-white.png" alt="makely hook icon">
      <img class="h-5 w-auto mt-0.5" src="/images/logo.png" alt="makely logo">
    </div>
    <div class="nav-links flex items-center p-5">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <% if (store.length === 1) { %>
          <a href="/store" class="text-white bg-blue-500 shadow hover:drop-shadow-[0px_5px_10px_rgba(200,200,200,0.5)] inline-block rounded-md px-3 py-1 text-base font-medium">My Store</a>
          <% } else { %>
            <a href="/store/new" class="text-white bg-blue-500 shadow hover:drop-shadow-[0px_5px_10px_rgba(200,200,200,0.5)] inline-block rounded-md px-3 py-1 text-base font-medium">Get Started</a>
          <% } %>
      </div>
    </div>
    </div>
  </nav>
  <header class="home-header flex flex-col justify-end items-center h-[700px]">
    <a href="/store/new"><button class="text-black border border-zinc-300 bg-transparent hover:bg-green-400 hover:text-green-900 hover:transition inline-block rounded-full px-8 py-1 font-normal text-sm">Get your brand started</button></a>
    <h1 class="text-8xl font-extrabold pt-3">makely</h1>
    <h2 class="text-xl font-bold pt-4">a tool for everyone to</h2>
    <p class="text-zinc-500 font-medium pt-1 pb-6">grow an online business and optimize their income</p>
    <img class="w-[800px]" src="images/pathway-img.svg" alt="A roadlike graphic leading to the makely logo">
  </header>
  <main>
    <section class="getting-started border border-black md:rounded-full p-20 ml-4 mr-4 lg:ml-40 lg:mr-40 mb-10 mt-20">
      <h3 class="process-title font-extrabold text-zinc-800 text-4xl text-center mb-4">it's easy to get started</h3>
      <p class="process-desc text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis odit dolore est. Odio velit reiciendis rem dolores quod ipsum fuga fugit rerum iure. Cumque nisi quae facilis sequi ullam. Porro?
      Animi officiis veritatis a, iste eius consequuntur repudiandae sit odio. Excepturi ex iusto temporibus? Ipsa facilis, quidem, maxime minus vero distinctio tempore laudantium tenetur dolores itaque necessitatibus impedit aliquid. Modi.</p>
    </section>

    <section class="features-descriptions flex justify-center p-20 flex-wrap lg:flex-nowrap">
      <article class="ml-0 md:ml-5 p-3 w-[400px]">
        <h3 class="info-title font-bold">Your Own Online Store</h3>
        <p class="info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus adipisci nostrum, dolorem reprehenderit alias ipsum quo, totam, officia qui animi iusto aspernatur beatae quas fugiat cum. Voluptatem, quod reprehenderit.</p>
      </article>

      <article class="p-3 w-[400px]">
        <h3 class="info-title font-bold">Create & Sell Digital Products</h3>
        <p class="info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus adipisci nostrum, dolorem reprehenderit alias ipsum quo, totam, officia qui animi iusto aspernatur beatae quas fugiat cum. Voluptatem, quod reprehenderit.</p>
      </article>

      <article class="p-3 w-[400px]">
        <h3 class="info-title font-bold">See Your Analytics</h3>
        <p class="info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus adipisci nostrum, dolorem reprehenderit alias ipsum quo, totam, officia qui animi iusto aspernatur beatae quas fugiat cum. Voluptatem, quod reprehenderit.</p>
      </article>
    </section>

    <section class="the-process grid grid-cols-1 md:grid-cols-2 lg:pl-60 lg:pr-60 pt-10 pb-10 gap-5 m-5">
      <div class="bg-slate-300 p-5">
        <div class="bg-white w-10 h-10 rounded-full flex justify-center items-center mb-2">1</div>
        <h4 class="font-bold">Build a Brand</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis est fuga similique magnam quisquam ullam, repellat sunt unde. Distinctio hic doloremque incidunt velit in maxime perferendis quaerat, magni deleniti nemo.</p>
      </div>
      <div class="bg-slate-500 p-5">
        <div class="bg-white w-10 h-10 rounded-full flex justify-center items-center mb-2">2</div>
        <h4 class="font-bold text-white">Become an Entrepeneur</h4>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas maiores temporibus delectus aliquam natus, eligendi placeat pariatur ea facere unde eius eveniet quae praesentium! Quidem doloribus quis ea perferendis nostrum?</p>
      </div>
      <div class="bg-slate-500 p-5">
        <div class="bg-white w-10 h-10 rounded-full flex justify-center items-center mb-2">3</div>
        <h4 class="font-bold text-white">Monetize your Audience</h4>
        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit porro quidem voluptate iure cupiditate numquam neque, voluptas, magnam sit aliquid possimus temporibus facilis minima eum veritatis dignissimos, ducimus consectetur ipsum.</p>
      </div>
      <div class="bg-slate-300 p-5">
        <div class="bg-white w-10 h-10 rounded-full flex justify-center items-center mb-2">4</div>
        <h4 class="font-bold">And More...</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni totam quia distinctio a, odio earum quod alias suscipit, aperiam deserunt deleniti voluptate enim beatae eveniet! Deleniti illum voluptates deserunt incidunt?</p>
      </div>
    </section>
  </main>
</body>
</html>
