body {
  background-color: #ececec;
}

nav.sidebar {
  width: 220px;
  height: 100dvh;
}

nav.mobilenav {
  position: sticky;
  width: 100%;
}

textarea {
  resize: none;
}

input#avatar {
  display: none;
}

span.plus-icon {
  position: relative;
  left: 120px;
  bottom: 30px;
  padding: 6px 10px;
  border-radius: 15px;
}
