body {
  background-color: #ececec;
}

textarea {
  resize: none;
}

nav.sidebar {
  width: 220px;
  height: 100dvh;
}

nav.mobilenav {
  position: sticky;
  width: 100%;
}

input {
  color: black;
  font-size: 14px;
}

.label-title {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding-left: 55px;
}

.bio-label-container {
  width: 100%;
  padding-right: 55px;
}

.bio-label-container .label-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio-limit-indicator {
  font-size: 9px;
  color: #aaaaaa;
}

@media (max-width: 767px) {
  .label-title {
    padding-left: 50px;
  }

  .bio-label-container {
    padding-right: 50px;
  }
}

input#avatar {
  display: none;
}

.avatar-img {
  background: url("../images/default-avatar.png");
  background-color: #ececec;
  background-size: cover;
}

span.plus-icon {
  position: relative;
  left: 85px;
  bottom: 30px;
  padding: 4px 10px;
  width: 30px;
  border-radius: 15px;
}

.home-header {
  background: url("/images/bg-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main.h-dvh, #store-mobile-display  {
  overflow-y: auto;
}
